body{
    background:rgb(245, 177, 114);
    font-family: 'Courier New';
}

h1{
    color:bisque;
    font-size: 5vw;
    background: rgb(124, 84, 24);
    text-shadow: 1px 1px 10px black;
}

p{
    color:antiquewhite;
}

/* #logo{
    height: 10vh;
    width: 10vw;
} */

