body{
    background:rgb(245, 177, 114);
    font-family: 'Courier New';
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    /* shorthand:
    background: no-repeat fixed 100% 100% / auto 
    */
}

h1{
    color:bisque;
    font-size: 5vw;
    background: rgb(124, 84, 24);
    text-shadow: 1px 1px 10px black;
    font-variant: small-caps;
    padding:10px 10px;
    border:5px dashed white;
    border-radius: 20px;
    margin:0px 30vw;
}

p{
    color:antiquewhite;
}

.buttons{
    background-color: rgb(124, 84, 24);
    color: bisque;
    font-size: large;
    width:100px;
    height:30px;
    border: 3px solid rgb(124, 84, 24);
    font-variant: small-caps;
}

.buttons:hover{
    background-color: bisque;
    color: rgb(124, 84, 24);
}

.buttons:active{
    background-color: rgb(124, 84, 24);
    color: bisque;
}

/* #logo{
    height: 10vh;
    width: 10vw;
} */