body{
    margin:0;
}

nav{
    background-color: rgb(88, 68, 13);
    padding: 10px 20px;
}

.brand-title{
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    color: bisque;
    margin: 0;
    display: inline-block;
    position: relative;
    top: -10px;
    left: 15px;
}